<ion-header>
  <ion-toolbar>
    <ion-title>profile-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-card>
        <form>
          <ion-list>
            <ion-item>
              <ion-label position="stacked"> Nama Lengkap</ion-label>
              <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked"> Nim</ion-label>
                <ion-input required type="text" [(ngModel)]="nim" name="nim"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="stacked"> Phone</ion-label>
                  <ion-input required type="tel" [(ngModel)]="phone" name="phone"></ion-input>
                </ion-item>
               
                  <br><br><br><br><br><br>
                  <ion-button color="secondary" type="submit" expand="block" shape="round" (click)="updateProfile()">Update</ion-button>
                  
                  
          </ion-list>
        </form>
      </ion-card>
</ion-content>
