<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >


    <ion-card *ngFor="let pengontrolan of pengontrolann" >
      <ion-item>
        <ion-label position="floating">{{pengontrolan.idbarang}}</ion-label>
        
      </ion-item>
      <ion-item>
          <ion-label position="floating">{{pengontrolan.kondisi}}</ion-label>
          
        </ion-item>
        <ion-item>
            <ion-label position="floating">{{pengontrolan.tanggal}}</ion-label>
            
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{pengontrolan.keterangan}}</ion-label>
            
          </ion-item>
      
    </ion-card>
    <ion-button color="secondary" expand="block" routerLink="/pengontrolan-barang">Kembali</ion-button>
 </ion-content>