<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Tambah Data Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
  
      <ion-item>
          <ion-label position="floating">Id Barang</ion-label>
          <ion-input type="text" [(ngModel)]="tambah.idbarang"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nama Barang</ion-label>
            <ion-input type="text" [(ngModel)]="tambah.namabarang"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Jumlah</ion-label>
            <ion-input type="text" [(ngModel)]="tambah.jumlah"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Lokasi</ion-label>
            <ion-input type="text" [(ngModel)]="tambah.lokasi"></ion-input>
          </ion-item>
        
       
          <ion-button color="secondary" fill="solid" expand="block" (click)="createTambah(tambah)">Tambah</ion-button>
  