<ion-header>
  <ion-toolbar>
    <ion-title size="small">Sistem Inventaris Barang</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<div id="container">
  <strong></strong>
<p><a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"></a></p>
</div>
<ion-img src="assets/picture.jpeg"></ion-img>
<ion-button color="secondary" expand="block" routerLink="/login">Masuk</ion-button>



</ion-content>
