
<ion-content class="ion-padding">
  <ion-card>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="floating"> Nama Lengkapp</ion-label>
          <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> Nim</ion-label>
          <ion-input required type="text" [(ngModel)]="nim" name="nim"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating"> Email</ion-label>
            <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating"> Telp</ion-label>
              <ion-input required type="tel" [(ngModel)]="phone" name="phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Password</ion-label>
                <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
              </ion-item>
              <br><br><br><br><br><br><br>
              <ion-button color="light" type="submit" expand="block" shape="round" (click)="register2()">Register</ion-button>
      </ion-list>
    </form>
  </ion-card>

</ion-content>
