<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >


    <ion-card *ngFor="let kosong of kosongg" >
      <ion-item>
        <ion-label position="floating">{{kosong.namabarang}}</ion-label>
        
      </ion-item>
      <ion-item>
          <ion-label position="floating">{{kosong.idbarang}}</ion-label>
          
        </ion-item>
        <ion-item>
            <ion-label position="floating">{{kosong.stok}}</ion-label>
            
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{kosong.jumlahpermintaan}}</ion-label>
            
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{kosong.keterangan}}</ion-label>
            
          </ion-item>
      
    </ion-card>
  
 </ion-content>