<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >


    <ion-card *ngFor="let tambah of tambahh" >
      <ion-item>
        <ion-label position="floating">{{tambah.idbarang}}</ion-label>
        
      </ion-item>
      <ion-item>
          <ion-label position="floating">{{tambah.namabarang}}</ion-label>
          
        </ion-item>
        <ion-item>
            <ion-label position="floating">{{tambah.jumlah}}</ion-label>
            
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{tambah.lokasi}}</ion-label>
            
          </ion-item>
      
    </ion-card>
    <ion-button color="secondary" expand="block" routerLink="/layer-databarang">Kembali</ion-button>
 </ion-content>