
<ion-content class="ion-padding">
    <ion-card>
      <form>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input  type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
          </ion-item>
            
       
          
      </ion-list>
    </form>
   </ion-card>

   <br><br><br><br><br><br><br><br><br><br><br>
   <ion-button color="secondary" type="submit" expand="block" shape="round" (click)="login()">Login</ion-button>

   <div style="text-align: center;">
    <p>Tidak punya akun? Register <a routerLink="/register">Disini!</a></p>
    <p><a routerLink="/forgot-password">Lupa Password</a></p>
  </div>
</ion-content>