<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-card routerLink="/penyimpanankosong">
    <ion-img src="assets/mutasi.png"></ion-img>
      <ion-card-content>
        Penyimpanan
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/tambahkosong">
      <ion-img src="assets/barang-kosong.png"></ion-img>
        <ion-card-content>
          Tambah Barang Kosong
        </ion-card-content>
      </ion-card>

    
  </ion-content>