<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Tambah Barang Kosong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
  
      <ion-item>
          <ion-label position="floating">Nama Barang</ion-label>
          <ion-input type="text" [(ngModel)]="kosong.namabarang"></ion-input>
        </ion-item>
        <ion-item>
        <ion-label position="floating">Id Barang</ion-label>
        <ion-input type="text" [(ngModel)]="kosong.idbarang"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Stok</ion-label>
            <ion-input type="text" [(ngModel)]="kosong.stok"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Jumlah Permintaan</ion-label>
            <ion-input type="text" [(ngModel)]="kosong.jumlahpermintaan"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Keterangan</ion-label>
            <ion-input type="text" [(ngModel)]="kosong.keterangan"></ion-input>
          </ion-item>
          
          <ion-button size="small" color="medium" routerLink="/home">Batal</ion-button>
          <ion-button size="small" color="medium"  (click)="createKosong(kosong)" routerLink="/penyimpanankosong">Simpan</ion-button>
       
    </ion-list>
 </ion-content>