<ion-content padding class="background">
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <div style="text-align: center;">
    <p> <a [routerLink]="['/pilihan']">Masuk</a></p>
  </div>

</ion-content>
