<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >


    <ion-card *ngFor="let tambahstok of tambahstokk" >
      <ion-item>
        <ion-label position="floating">{{tambahstok.nopengontrolan}}</ion-label>
        
      </ion-item>
      <ion-item>
          <ion-label position="floating">{{tambahstok.idbarang}}</ion-label>
          
        </ion-item>
        <ion-item>
            <ion-label position="floating">{{tambahstok.kondisi}}</ion-label>
            
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{tambahstok.tanggal}}</ion-label>
            
          </ion-item>

          <ion-item>
            <ion-label position="floating">{{tambahstok.keterangan}}</ion-label>
            
          </ion-item>
      
    </ion-card>
    <ion-button color="secondary" expand="block" routerLink="/stok-barang">Kembali</ion-button>
 </ion-content>
