<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Pengontrolan Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
  
      <ion-item>
          <ion-label position="floating">Id Barang</ion-label>
          <ion-input type="text" [(ngModel)]="pengontrolan.idbarang"></ion-input>
        </ion-item>
        <ion-item>
        <ion-label position="floating">Kondisi</ion-label>
        <ion-input type="text" [(ngModel)]="pengontrolan.kondisi"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Tanggal</ion-label>
            <ion-input type="text" [(ngModel)]="pengontrolan.tanggal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Keterangan</ion-label>
            <ion-input type="text" [(ngModel)]="pengontrolan.keterangan"></ion-input>
          </ion-item>
          
          <ion-button size="small" color="medium" routerLink="/home">Batal</ion-button>
          <ion-button size="small" color="medium"  (click)="createPengontrolan(pengontrolan)" routerLink="/berhasil-pengontrolbarang">Simpan</ion-button>
       
    </ion-list>
 </ion-content>