<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Barang Kosong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
  
      <ion-item>
          <ion-label position="floating">Nama Barang</ion-label>
          <ion-input type="text" [(ngModel)]="tambahstok.barang"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">ID Barang</ion-label>
            <ion-input type="text" [(ngModel)]="tambahstok.idbarang"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Stok Barang</ion-label>
            <ion-input type="text" [(ngModel)]="tambahstok.stokbarang"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Jumlah Permintaan</ion-label>
            <ion-input type="text" [(ngModel)]="tambahstok.jumlahpermintaan"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Keterangan</ion-label>
            <ion-input type="text" [(ngModel)]="tambahstok.keterangan"></ion-input>
          </ion-item>
       
          <ion-button color="secondary" fill="solid" expand="block" routerLink="/hasil-stokbarang" (click)="createTambahstok(tambahstok)">Simpan</ion-button>
    </ion-list>
 </ion-content>