<ion-header>
  <ion-toolbar>
    <ion-title ></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<div id="container">
  <strong></strong>
<p><a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"></a></p>
</div>
<ion-img src="assets/smile.jpg"></ion-img>

<ion-toolbar>
  <ion-title size="small" >Data Berhasil Ditambah</ion-title>
</ion-toolbar>

<ion-button color="secondary" expand="block" routerLink="/layer-databarang">Kembali</ion-button>
 
</ion-content>