<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Laporan</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-card routerLink="/hasil-stokbarang">
    <ion-img src="assets/penyimpananlaporan.png"></ion-img>
      <ion-card-content>
        Stok Barang
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/tambah-stokbarang">
      <ion-img src="assets/barang-kosong.png"></ion-img>
        <ion-card-content>
          Input Stok Barang
        </ion-card-content>
      </ion-card>

    
  </ion-content>