<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-card routerLink="/data-baranglist">
    <ion-img src="assets/penyimpananlaporan.png"></ion-img>
      <ion-card-content>
        Penyimpanan
      </ion-card-content>
    </ion-card>

  <ion-card routerLink="/tambahdatabarang">
    <ion-img src="assets/tambahlaporan.png"></ion-img>
      <ion-card-content>
       Tambah Data
      </ion-card-content>
    </ion-card>
    
  </ion-content>
  