<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Laporan</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-card routerLink="/mutasi-barang">
    <ion-img src="assets/mutasi.png"></ion-img>
      <ion-card-content>
        Laporan Mutasi Barang
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/barang-kosong">
      <ion-img src="assets/barang-kosong.png"></ion-img>
        <ion-card-content>
          Laporan Barang Kosong
        </ion-card-content>
      </ion-card>

    
  </ion-content>