<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<br>
<ion-content class="ion-padding">


    <ion-card color="light">
        <div class="img-wrapper">
          <img src="./assets/profil.png"/>
          <ion-button color="light">
            <ion-icon slot="icon-only" name="camera-outline" color="medium">
            </ion-icon>
          </ion-button>
        </div>
        <ion-card-content class="ion-text-center">
          <img src="./assets/nia.jpg"/>
          <h2>Nama : {{user?.userName}}</h2>
          <p>Nim : {{user?.userNim}}</p>
          <p>Telp : {{user?.userPhone}}</p>
     


          <ion-text color="medium">
            <div style="display: flex;" class="ion-justify-content-center">
              <ion-icon name="location-outline" color="medium">
              </ion-icon>
              <p>Kontrakan ciwi- ciwi</p>
            </div>
          </ion-text>
        </ion-card-content>
      </ion-card>




  

 <br><br><br>
  <ion-button color="light" expand="block"  (click)="editProfile()">Edit Profile</ion-button>


</ion-content>
