<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card routerLink="/cek-barang">
    <ion-img src="assets/komputer.png"></ion-img>
      <ion-card-content>
        Komputer
      </ion-card-content>
    </ion-card>

  <ion-card routerLink="/cek-barang">
    <ion-img src="assets/infocus.png"></ion-img>
      <ion-card-content>
       Infocus
      </ion-card-content>
    </ion-card>

  <ion-card routerLink="/cek-barang">
    <ion-img src="assets/lemari.png"></ion-img>
       <ion-card-content>
       Lemari Kayu
       </ion-card-content>
    </ion-card>

    <ion-card routerLink="/cek-barang">
      <ion-img src="assets/p3k.png"></ion-img>
         <ion-card-content>
          Peralatan UKS
        </ion-card-content>
      </ion-card>

      <ion-card routerLink="/cek-barang">
        <ion-img src="assets/atk.png"></ion-img>
           <ion-card-content>
            Peralatan ATK
          </ion-card-content>
        </ion-card>

        <ion-card routerLink="/cek-barang">
          <ion-img src="assets/papan-tulis.png"></ion-img>
             <ion-card-content>
              Papan Tulis
            </ion-card-content>
          </ion-card>

          <ion-card routerLink="/cek-barang">
            <ion-img src="assets/kursi.png"></ion-img>
               <ion-card-content>
                Kursi
              </ion-card-content>
            </ion-card>

            <ion-card routerLink="/cek-barang">
              <ion-img src="assets/meja.png"></ion-img>
                 <ion-card-content>
                  Meja
                </ion-card-content>
              </ion-card>

              <ion-card routerLink="/cek-barang">
                <ion-img src="assets/olahraga.png"></ion-img>
                   <ion-card-content>
                    Alat Olahraga
                  </ion-card-content>
                </ion-card>
    
  </ion-content>
  