<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Logout</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">
  <ion-card >
    <ion-toolbar>
      <ion-title size="small" >Keluar Dari Inventaris Barang?</ion-title>
    </ion-toolbar>
    <ion-button color="secondary" expand="block" routerLink="/buat-tampilan">Keluar</ion-button>
    </ion-card>
</ion-content>
