<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  

  <ion-card routerLink="/layer-databarang">
    <ion-img src="assets/data-barang.png"></ion-img>
      <ion-card-content>
        Data Barang
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/layer-laporan">
      <ion-img src="assets/laporan.png"></ion-img>
        <ion-card-content>
          Laporan
        </ion-card-content>
      </ion-card>

      <ion-card routerLink="/stok-barang">
        <ion-img src="assets/stok-barang.png"></ion-img>
          <ion-card-content>
            Stok Barang
          </ion-card-content>
        </ion-card>

    <ion-card routerLink="/pengontrolan-barang">
      <ion-img src="assets/pengontrolan-barang.png"></ion-img>
         <ion-card-content>
          Pengontrolan Barang
        </ion-card-content>
      </ion-card>

      <ion-card routerLink="/profile">
        <ion-img src="assets/profil.png"></ion-img>
          <ion-card-content>
            Profil
          </ion-card-content>
        </ion-card>

          <ion-card routerLink="/logout">
            <ion-img src="assets/keluar.png"></ion-img>
               <ion-card-content>
                Keluar
              </ion-card-content>
            </ion-card>

           

  </ion-content>