<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Mutasi Barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
  
      <ion-item>
          <ion-label position="floating">Nama Barang</ion-label>
          <ion-input type="text" [(ngModel)]="mutasi.namabarang"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Mutasi Barang</ion-label>
            <ion-input type="text" [(ngModel)]="mutasi.mutasibarang"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Mutasi Id Barang</ion-label>
            <ion-input type="text" [(ngModel)]="mutasi.idbarang"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tanggal Mutasi</ion-label>
            <ion-input type="text" [(ngModel)]="mutasi.tanggalmutasi"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Lokasi Tujuan</ion-label>
            <ion-input type="text" [(ngModel)]="mutasi.lokasitujuan"></ion-input>
          </ion-item>
       
          <ion-button color="secondary" fill="solid" expand="block" (click)="createMutasi(mutasi)">Tambah</ion-button>
    </ion-list>
 </ion-content>